.places-text{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 40px;
}
ul{
    list-style: none;
    color: #1974D2;
}
ul li{
    cursor: pointer;  
} 
ul li a{
    text-decoration: none;
}
.topMargin{
    margin-top: 50px ;
    font-size: 1.5rem;
    font-weight:600;
}